<!DOCTYPE html>
<html lang="en">
<head>
 <title>Swift Diagnostics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href ="css//homestyles.css">
  <link rel="stylesheet" href="css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap and ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//counter.websiteout.net/js/36/6/0/0">
</script>
</head>

<body>
	<!-- log0 -->
	<header id="home-page" class="site-header">
		<img class="Logo" src ="/logo.png" style = "height:96px; width:158px;">
		<nav class="site-nav navbar navbar-expand-lg navbar-inverse ">
		<div class ="container-fluid">

    <button class="navbar-toggler hidden-lg hidden-md hidden-sm" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="#myTogglerNav"
      aria-label="Toggle Navigation">
<span class="glyphicon glyphicon-align-justify"></span>
</button>

<!-- nav buttons/nav menu -->
   <section class="collapse navbar-collapse" id="myTogglerNav">
      <div class="navbar-nav">
      <li><a class="nav-item nav-link" href="/">Home</a></li>
      <li><a class="nav-item nav-link" href="locations.html">Locations</a></li>
      <li><a class="nav-item nav-link" href="About.html">About Us</a></li>
    </div>
   <div class="loginButton">
   <a href="/patientlogin"> <button class ="nav-item btn btn-warning btn-md" type="button"  >Login</button>  </a>
  </div>
    </section>
</header>
</div>
 </div>
</nav>
<!-- header graphic -->
<section class="layout-hero">
<div class="content">
  <h1 class="welcome"><b> WELCOME TO SWIFT DIAGNOSTICS</b></h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style=" width:70%; margin: 0 auto; background-color: blue;">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" ></li>
    <li data-target="#myCarousel" data-slide-to="2" ></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="Insurance.png" alt="Insurance" style="width: 100%">
    </div>

    <div class="item">
      <img src="locations.png" alt="locations" style="width: 100%">
  </div>

    <div class="item">
      <img src="digital.png" alt="building" style="width: 100%">
    </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>
</section>

</header>
<div class="bodyText">

<hr>

<img class="avac" src="avac.png"><p class="avacText"> Swift Gives Back! <br> A percentage of all proceeds are donated to AVAC for HIV prevention and research. <i><a href="https://www.avac.org/"> www.avac.org</a></i></p>
<hr>
<img class="bn" src="bn.jpg"><p class="bnText"> Swift has new and improved prices!<br>Making all of our services availble with  or without insurance.<br> Here at Swift, we want to help improve your life by making screening easy, affordable, and swift!
</p>
<hr>
<img class="clip" src="clip.jpg"><p class="clipText"> Print off and complete your Swift registration ahead of time online in your dashboard!</p>
<hr>

  <!-- social media tags -->

    <footer class="site-footer">
      <div class="footy">
            <span class="text-muted">Connect with us!</span>

        </div>

  		  <a href="https://twitter.com/SwiftDiagnosti1" class ="fa fa-twitter"></a>
  			<a href="https://twitter.com/SwiftDiagnosti1" class ="fa fa-facebook"></a>
 <a class style="position: absolute; left: 90%;" href="faq.html">FAQs</a>
  </footer>
</body>
</html>
