
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient Portal Test</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/dashboardcss.css" rel="stylesheet" id="bootstrap-css">
<script>
$(document).ready(function(){
   $('[data-toggle="offcanvas"]').click(function(){
       $("#navigation").toggleClass("hidden-xs");
   });
});



</script>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
$( "#date" ).datepicker();
} );
</script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body class="test">
  <header id="home-page" class="site-header">

    <img class="Logo" src ="/images/logo.png" style = "height:96px; width:158px;">
</header>
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="/images/Logo.png" alt="swift_logo" class="hidden-xs hidden-sm">
                        <img src="/images/logo.png" alt="swiftlogo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li ><a href="/patientdashboard"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href="/patientdashboardtests"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Tests</span></a></li>
                        <li><a href="/patientdashboardprofile"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Profile</span></a></li>
                        <li><a href="/patientdashboardsettings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
												<li class="active"><a href="/patientdashboardappointment"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Appointment</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>

                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li class="hidden-xs"><%= firstname %> </li>
                                    <li><a href="/patientlogout"> <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-out"></span> Log out    </button></a></li>


                                </ul>
                            </div>
                        </div>
                    </header>
                </div>


<div class="container">
	<div class="row">
<div class="col-md-8 col-lg-offset-2">
                    <div class="well well-medium" style="background-color:#FFD660">
                        <div class="well-title">
                            <h2>Book an Appointment</h2>
                        </div>
                        <form action="/patientdashboardsaveappointment" method="post">
                            <!-- Form start -->
                            <div class="row">
                                <!-- Text input-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="date">Preferred Date</label>
                                        <input id="date" name="date" type="date" placeholder="Preferred Date" class="form-control input-md">
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="time">Preferred Time</label>
                                        <select id="time" name="time" class="form-control">
                                            <option value="8:00 to 9:00 AM">8:00 to 9:00 AM</option>
                                            <option value="9:00 to 10:00 AM">9:00 to 10:00 AM</option>
                                            <option value="10:00 to 1:00 PM">10:00 to 11:00 PM</option>
                                            <option value="1:00 to 2:00 PM">1:00 to 2:00 PM</option>
                                            <option value="2:00 to 3:00 PM">2:00 to 3:00 PM</option>
                                            <option value="3:00 to 4:00 PM">3:00 to 4:00 PM</option>
                                            <option value="4:00 to 5:00 PM">4:00 to 5:00 PM</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="location">Location</label>
                                        <select id="location" name="location" class="form-control">
                                          <option value="Columbus-Ohio">Columbus, Ohio</option>
                                          <option value="New York-New York">New York, New York</option>
                                          <option value="Topenka-Kansas">Topeka, Kansas</option>
                                          <option value="Plano-Texas"> Plano, Texas</option>
                                          <option value="New York-New York"> New York New York</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="col-md-12">
                                <div class="form-group">
                                <button id="singlebutton" name="singlebutton" class="btn btn-warning">Make An Appointment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
                </div>
							</div>
</div>
</div>
</div>

</div>






</body>
</html>
