

<!DOCTYPE html>

<html lang="en">

<head>

 <title>Swift Diagnostics Login</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesheets -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



  <link rel="stylesheet" href="all.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- bootstrap and ajax -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>



	<header id="patient-login-patient" class="site-header">

		<img class="Logo" src ="logo.png" style = "height:96px; width:158px;">
  </header>
  <nav class="navbar navbar-inverse">
   <ul class="nav navbar-nav">
     <li><a href="#">Profile</a></li>
     <li><a href="#">Tests</a></li>
     <li class="pull-right"><a href="/patientlogout" > Logout </a></li>
   </ul>

 </nav>
<div class="jumbotron" style="text-align: center;  ">
  <h2>
  Dashboard
  </h2>
  <p>   Welcome  <%= firstname %> !</p>
</div>




<footer class="site-footer">

  <h3> connect with us</h3>

  <button>

  <a href="https://twitter.com">

    <span class ="fa fa-twitter"></span>

  </button>

  <button>

    <a href="https://twitter.com/rxpriest?lang=en">

      <span class ="fa fa-facebook"></span>

  </button>

</footer>
